!!!
%html{:lang => "en"}
  %head
    %title Ruukin Rakennus ja LVI-palvelu
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %link{:href => "/assets/ico/apple-touch-icon-144-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "144x144"}/
    %link{:href => "/assets/ico/apple-touch-icon-114-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "114x114"}/
    %link{:href => "/assets/ico/apple-touch-icon-72-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "72x72"}/
    %link{:href => "/assets/ico/apple-touch-icon-57-precomposed.png", :rel => "apple-touch-icon-precomposed"}/
    %link{:href => "/assets/favicon.png", :rel => "shortcut icon"}/
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          %button.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => "/"} Ruukin Rakennus ja LVI-palvelu
          .nav-collapse.collapse
            %ul.nav
              %li.active
                %a{:href => "/"} Kotisivu
              %li
                %a{:href => "/about.html"} Yhteystiedot
          / /.nav-collapse
    .container
      = yield
      %hr/
      %footer
        %p
          %b Ruukin Rakennus- ja LVI-palvelu
          |   Fiskarsintie 513, 10480 Antskog   |  puh 040 730 8052  |  Lvi-palvelu puh 040 359 3181
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-12603339-3', 'ruukinrakennuspalvelu.fi');
      ga('send', 'pageview');
